.loginPage{
    height: 100vh;
    width: 100%;
}
.formContainer{
   min-height: 100vh;
   background-image: url('../assets/images/spacePandora.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.card{
    background-color: rgba(255, 255, 255, 0.63);
}
.loginInputs{
    background-color: rgba(255, 255, 255, 0.466);
    border: 2px solid #1266f1;
    border-radius: 10rem;
    padding: 7px;
    max-width: 330px;
    
}
.card-body{
    height: 300px;
}