.pageOne{
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.section{
    text-align: center;
    max-width: 1200px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.486);
}
.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cardsSection{
    width: 70%;
}
footer{
    
}